* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	height: 100%;
	
}

h2 {
	text-align: center;
	padding: 5%;
	margin: 0px;
	}
.photo-name {
	text-align: center;
	font-weight: bolder;
}

img.desaturada { 
	filter: grayscale(100%);
}

@font-face {
	font-family: 'Roboto';
}

.navbar {
	width: 100%;
	background-color: #F7F7F7;
	position: fixed;
	top: 0;
}

.navbar > .navbar-list {
	list-style-type: none;
	margin: 0;
	float: right;
	font-size: 0;
}

.navbar > .navbar-list > .navbar-item {
	display: inline-block;
	font-size: 16px;
}


.navbar > .navbar-list > .navbar-item > .navbar-link {
	display: inline-block;
	text-decoration: none;
	padding: 20px;
	color: rgba(0, 0, 0, 0.92);
	transition: all 0.5s;
}

.navbar > .navbar-list > .navbar-item.active > .navbar-link {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.navbar > .navbar-list > .navbar-item > .navbar-link:hover {
	color: #F7F7F7;
	background-color: #A4A4A4;
}

.header > .title-img {
	width: 100%;
	background-image: url("../images/portada.png");
	height: 100vh;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all 0.5s;
}

.header > .title-img:hover {
	background-size: 115% 115%;
}

.header > .title {	
	position: absolute;
	top: 70%;
	color: white;
	background-color: black;
	width: 100%;
	text-align: center;
	font-family: 'Roboto';
	font-size: 40px;
	opacity: 0;
	animation: subtitleAnimation 3s forwards;
	animation-delay: 0.3s;
}

.about-me {
	height: 100vh;
}
.about-me > .victor-foto-quien-soy {
	max-width: 25%;
	float: left;
}

#video-victor{
	float:center;
	padding: 20px;
}

.foto-victor-bandin{
	float:center;
	padding: 20px;
}

.about-me > .victor-video-sobre-mi {
	max-width: 25%;
	float: left;
}
.about-me > .victor_bandin-info {
	max-width: 75%;
	float: right;
	padding: 20px;
}

.section-content {
	height: 100vh;
	padding-top: 5%;
	padding-bottom: 5%;
}

.section-content-reverse {
	height: 100vh;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: rgba(0, 0, 0, 0.92);
	color: white;
	margin-left: calc(-50vw + 50%);
	margin-right: calc(-50vw + 50%);
}

.row-flex {
	display: flex;
	flex-flow: row wrap;
}

.cv-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	margin: 0px;
	padding: 0px;		
}

.cv-img {
	align-items: right;
	max-width: 100%;
	height: 75px;
	border-radius: 0%;
	margin: 0px;
	padding: 0px;	
}

.cv-info{
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.footer {
	width: 100%;
	height: 50px;
	color: black;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.flip {
	height: 75px;
	position: relative;
	text-align: center;
	transform-style: preserve-3d;
} 

.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform 1s;
}

.back {
	transform: rotateY(-180deg);
}

.flip:hover .front {
	transform: rotateY(-180deg);
}

.flip:hover .back {
	transform: rotateY(0);
}

@keyframes titleAnimation {
	0% {
		font-size: 200px;
	}
	50% {
		font-size: 180px;
	}
	100% {
		font-size: 100px;
		visibility: visible;
	}

}

@keyframes subtitleAnimation {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}

}

.form {
	padding: 0px 20px;
}


.form .form-row {
	padding: 10px;
}

input {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset], button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 40px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 0px;
}

#too-many-enemies {
	display: none;
}

#googleMap {
	height: 400px;
}

.container {
	min-height: 100%;
	margin-bottom: -50px;
}

.clearfix:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}




